<div class="footer">
    <div class="holder footerMenu hMenu gray">
        <ul rel="0" class="level-0">
            <li class="item">
                <div class="logo" style="display: inline-block;max-width: 200px;">
                    <p><a href="index.htm"><img src="images/footer_logo.svg"></a></p>
                </div>
            </li>
            <li rel="1365" class="item">
                <a rel="1365" href="company.htm" class="class-item-1365"><span>Компания</span></a>
            </li>
            <li rel="1366" class="item">
                <a rel="1366" href="production.htm" class="class-item-1366"><span>Продукция</span></a>
            </li>
            <li rel="1420" class="item empty">
                <a rel="1420" href="uslugi.htm" class="class-item-1420"><span>Услуги</span></a>
            </li>
            <li rel="1420" class="item empty">
                <a rel="1420" href="news.htm" class="class-item-1420"><span>Новости</span></a>
            </li>
            <li rel="1369" class="item empty">
                <a rel="1369" href="contacts.htm" class="class-item-1369"><span>Контакты</span></a>
            </li>
            <li class="item">
                <div class="contact" style="display: inline-block;">
                    <p class="phone">+7 (917) 261-13-21<br style="line-height: 20.8px; box-sizing: border-box;">
                        <a href="mailto:info@vitehno.ru" style="color: rgb(0, 0, 0); line-height: 20.8px; box-sizing: border-box; background-color: transparent;">info@vitehno.ru</a></p>
                    </div>
                </li>
            </ul>
            <div class="holder">
                <div class="logo" style="width: 100%; display: inline-block;">
                    <span style="font-size: 15px;">©2017 ООО «ВИТЕХНО»  Все права защищены.</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>