<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>ООО «ВИТЕХНО» </title>
    <meta name="keywords" content="«ВИТЕХНО» , насосы, очаг">
    <meta name="description" content="Краткое описание">
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico" type="image/png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="js\bootstrap3\css\bootstrap.min.css?r=3.3.65" rel="stylesheet" type="text/css">
    <link href="js\bootstrap3\css\bootstrap-theme.min.css?r=3.3.63" rel="stylesheet" type="text/css">
    <link href="style\style.css?r=4.2.1" rel="stylesheet" type="text/css">
    <link href="style\shop.css?r=3" rel="stylesheet" type="text/css">
    <link href="style\print.css" rel="stylesheet" type="text/css" media="print">
    <script type="text/javascript" src="js\jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.4.1.js"></script>
    <script type="text/javascript" src="js\swfobject.js"></script>
    <script type="text/javascript" src="js\ajax.js"></script>
    <script type="text/javascript" src="js\scripts.js"></script>
    <script type="text/javascript" src="js\top_menu.js"></script>
    <script type="text/javascript" src="js\bootstrap3\js\bootstrap.min.js"></script>
    <link rel="stylesheet" href="style\prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8">
    <script src="js\jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js\jquery-ui\jquery-ui.min.js"></script>
    <link href="js\jquery-ui\jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="js\jquery-ui\jquery-ui.theme.min.css" rel="stylesheet" type="text/css" media="screen">
</head>