    <body>
        <div class="header">
            <div class="holder">
                <div class="logo">
                    <a href="index.htm"><img src="images\logo_vi.svg" width="210"></a>
                </div>
                <div class="slogan">Энергичная компания, которая поможет Вам технологически реализовать Ваши нестандартные идеи.</div>
                <div class="cert">
                    <a href="feedback.htm" class="button-444" title="Продление гарантии"><span>Обратная связь</span></a>
                </div>
                <div class="contact">
                    <span class="phone">Контакты:  <a>Казань</a><br>+7 (917) 261-13-21<br>
                    <a href="mailto:info@vitehno.ru" style="color: rgb(0, 0, 0); line-height: 20.8px; box-sizing: border-box; background-color: transparent;">info@vitehno.ru</a></span>
                </div>
            </div>
        </div>
        <div class="mainMenu hMenu">
            <div class="holder">
                <ul rel="0" class="level-0">
                    <li rel="1365" class="item"> <a rel="1365" href="company.htm" class="class-item-1365"><span>Компания</span></a></li>
                    <li rel="1366" class="item"><a rel="1366" href="production.htm" class="class-item-1366"><span>Продукция</span></a></li>
                    <li rel="1420" class="item empty"><a rel="1420" href="uslugi.htm" class="class-item-1420"><span>Услуги</span></a></li>
                    <li rel="1420" class="item empty"><a rel="1420" href="news.htm" class="class-item-1420"><span>Новости</span></a></li>
                    <li rel="1369" class="item empty"><a rel="1369" href="contacts.htm" class="class-item-1369"><span>Контакты</span></a></li>
                </ul>
            </div>
        </div>